#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
 
}

.app-container {
  display: flex;
  height: 100vh; /* Make the container take the full viewport height */
}

/* Navbar */
.navbar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 10px;
  border-right: 1px solid #ddd;
}

/* content */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  height: 70vh;
  display: flex;
}

.custom-bg {
display: block;
width: 100%;
}

.title {
  font-size: 2rem;
  text-align: center;
}

/* searchbar icon */
.searchbar {
 width: 500px;
 align-items: center;

}