#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;

 
}

/* global button style */
button {
  /* Default Bootstrap button styles */
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd; /* Primary color */
  border-color: #0d6efd;
  background-color: transparent;
}

button:hover {
  background-color: #0d6efd;
  color: #fff;
}

.app-container {
  display: flex;
  height: 100vh; /* Make the container take the full viewport height */
}

/* Navbar */
.navbar {
  width: 150px;
  background-color: #9cc3eb;
  padding: 10px;
  border-right: 1px solid #ddd;
}

/* content */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

/* LOGIN */
.login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  height: 70vh;
  display: flex;
}

.custom-bg {
display: block;
width: 100%;
}

.title {
  font-size: 2rem;
  text-align: center;
}

/* searchbar icon */
.searchbar {
 width: 500px;
 align-items: center;

}

/* upcoming meet images */
.upcoming-meetups img {
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and fill container */
  width: 100%; /* Ensure it fills the width of its container */
  border-radius: 5px; /* Optional: add rounded corners */
}

/* group interest */
.group-interests ul {
  list-style-type: none;
  padding-left: 0;
}

.group-interests li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}