#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  display: flex;
  background-color: #4ab7e2;
}



.custom-bg {
display: block;
width: 100%;
}

.title {
  font-size: 4rem;
}

